{% extends "document-public.html" %}

{% block body %}
<div class="col-md-6 ml-auto mr-auto pt-5 mt-5">
    <div id="vApp" v-cloak>
        <form ref="form" v-on:submit.prevent="onSubmit" action="/access-point/find" method="GET" class="form-login" novalidate>
            <div class="form-header">
                <h1 class="h6 mb-0">Access Point Scanner: {{authDoor.name}}</h1>
            </div>
            <div class="form-body text-center">
                <div v-if="remaining > 0" class="h3 mb-4">
                    <div v-if="!hideCancel" class="mb-4">Returning to scanner in ${remaining} seconds...</div>
                    <button v-on:click.prevent="onCancel" v-if="!hideCancel" class="btn btn-danger" type="button">Cancel Return</button>
                    <a v-if="hideCancel" class="btn btn-success" href="/access-point">Return to scanner</a>
                </div>
                {% if log.inside %}
                <div class="alert alert-warning text-left">You have entered the building {{log.timeIn|from_now}} <br>Time-in: {{log.timeIn|format_date("hh:mm:ss A")}}.</div>
                {% else %}
                <div class="alert alert-success text-left">You have exited the building {{log.timeOut|from_now}}
                    <br>Time-in: {{log.timeIn|format_date("hh:mm:ss A")}}.
                    <br>Time-out: {{log.timeOut|format_date("hh:mm:ss A")}}.</div>
                {% endif %}
                <div class="profile-photo">
                    {% if person.profilePhoto %}
                    <img src="{{person.profilePhoto|s3_url('medium')}}" alt="photo">
                    {% else %}
                    <span class="initials">{{person.firstName|first}} {{person.lastName|first}}</span>
                    {% endif %}
                </div>
                <h1 class="h3 mb-5"><u>{{person.firstName}}</u> <u>{{person.lastName}}</u></h1>
                <p class="text-left">Address: {{person.address}}</p>

            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/jsQR.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            code: '',
            remaining: 5,
            timer: null,
            hideCancel: false
        },
        validations: {

        },
        mounted: function(){
            var me = this;
            me.timer = setInterval(function(){
                me.remaining -= 1;
                if (me.remaining <= 0) {
                    clearInterval(me.timer)
                    window.location.replace("/access-point");
                }
            },1000)
        },
        methods: {
            onCancel: function(){
                this.hideCancel = true;
                clearInterval(this.timer)
            },
            onCapture: function() {
                var me = this;
                var video = document.createElement("video");
                var canvasElement = document.getElementById("canvas");
                var canvas = canvasElement.getContext("2d");

                // Use facingMode: environment to attemt to get the front camera on phones
                navigator.mediaDevices.getUserMedia({
                    video: {
                        width: 400,
                        height: 300,
                        facingMode: "environment"
                    }
                }).then(function (stream) {
                    video.srcObject = stream;
                    me.stream = stream
                    video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
                    video.play();
                    requestAnimationFrame(tick);
                }).catch(function (error) {
                    alert(error)
                })

                function drawLine(begin, end, color) {
                    canvas.beginPath();
                    canvas.moveTo(begin.x, begin.y);
                    canvas.lineTo(end.x, end.y);
                    canvas.lineWidth = 4;
                    canvas.strokeStyle = color;
                    canvas.stroke();
                }

                var stopLoop = false;

                function tick() {
                    if (video.readyState === video.HAVE_ENOUGH_DATA) {
                        canvasElement.hidden = false;
                        canvasElement.height = video.videoHeight;
                        canvasElement.width = video.videoWidth;
                        canvas.drawImage(video, 0, 0, canvasElement.width, canvasElement.height);
                        var imageData = canvas.getImageData(0, 0, canvasElement.width, canvasElement.height);
                        var code = jsQR(imageData.data, imageData.width, imageData.height, {
                            inversionAttempts: "dontInvert",
                        });
                        if (code) {
                            drawLine(code.location.topLeftCorner, code.location.topRightCorner, "#FF3B58");
                            drawLine(code.location.topRightCorner, code.location.bottomRightCorner, "#FF3B58");
                            drawLine(code.location.bottomRightCorner, code.location.bottomLeftCorner, "#ff3b58");
                            drawLine(code.location.bottomLeftCorner, code.location.topLeftCorner, "#FF3B58");
                            stopLoop = true;
                            me.code = code.data
                            me.onSubmit()
                        } else {
                        }
                    }
                    if (!stopLoop) {
                        requestAnimationFrame(tick);
                    }
                }
            },
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}